%table.table.table-striped
  %tbody
    - movies.each_with_index do |movie, i|
      %tr
        %td.lead
          = i + 1
        %td
          %img.img-rounded{ src: movie.cover, style:"width:100%" }
        %td
          %h4.lead
            = link_to(movie.title, movie_path(movie)) + ' (' + link_to(movie.genre.name, movies_genre_path(movie.genre)) + ')'
          %p
            = 'Released: ' + movie.release_date + ' | Rating: ' + movie.rating.to_s
          %p.lead
            = movie.description